<!DOCTYPE>
<html>
  <head>
    <title>Confluence.fm</title>
    <link rel=stylesheet href="/stylesheets/site.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script>Confluence = {appId: <%= APP_ID %>}</script>
    <script src="/javascripts/app.js"></script>
    <script id="playlist-template" type="text/mustache">
      {{#tracks}}
        <tr data-id={{id}}>
          <td><img src='{{image}}'></td>
          <td class=video-name>{{name}}</td>
          <td class=friend-name>{{from}}</td>
          <td class=kill-row><a href="javascript:">X</a></td>
        </tr>
      {{/tracks}}
    </script>
  </head>
<body>
  <hgroup>
    <h1>Confluence.<span class=tld>fm</span></h1>
    <h2>Make a playlist out of the music your friends are sharing on Facebook</h2>
  </hgroup>
  <div id=main>
    <div id=controls>
      <a id=load href="javascript:">Get started by loading your feed</a>
      <p id=loading href="javascript:">Loading your feed from Facebook...</p>
      <a id=play href="javascript:">Play</a>
    </div>

    <div id="video"></div>
    <table style="display:none">
      <thead><tr>
          <td>
          <td>Video
          <td>From
          <td>
        </tr></thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="fb-root"></div>
</body>
</html>
